.chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .chat-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 80%;
    background-color: #f6f5f5;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    .chat-history {
      flex: 1;
      overflow-y: auto;
      padding: 10px;

      .message {
        margin: 10px;
      }

      .user{
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #fff;
        width: fit-content;
        max-width: 70%;
        min-width: 200px;
        margin-left: auto;
        font-size: 18px;
        font-weight: bold;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }
      
      .assistant {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #fff;
        width: fit-content;
        min-width: 200px;
        max-width: 70%;
        margin-right: auto;
        font-weight: 500;
        font-size: 16px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      }
    }

    .chat-input {
      display: flex;
      align-items: center;
      padding: 10px;

      input {
        flex: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        height: 32px;
        outline: none;
      }

      button {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        height: 46px;
      }
    }
  }
}
