<div class="chat-wrapper">
  <div class="chat-container">
    <div class="chat-history">
      <div
        class="message"
        [ngStyle]="{ display: messages.length === 0 ? 'none' : 'block' }"
        *ngFor="let message of messages"
      >
      <div [ngSwitch]="message.user">
        <div *ngSwitchCase="'assistant-image'">
          <div class="assistant">
            <img [src]="message.text" alt="Response-Image" style="object-fit: cover;">
          </div>
        </div>
        <div *ngSwitchCase="'user'">
          <div class="user"><p>{{ message.text }}</p></div>
        </div>
        <div *ngSwitchCase="'assistant'">
          <div class="assistant"><p>{{ message.text }}</p></div>
        </div>
      </div>
      </div>
    </div>
    <div class="chat-input">
      <input
        [(ngModel)]="newMessage"
        placeholder="Type your message..."
        (keyup.enter)="sendMessage()"
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
